html {
    color: $base_color;
    font-size: $base_fontsize;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 1150px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.invisible {
    display: none;
}

.scrolled {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 10px 0;
}