html {
    color: $base_color;
    font-size: $base_fontsize;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: $base-lh;
}

.container {
    width: 1150px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.invisible {
    display: none;
}

.scrolled {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 10px 0;
}

.btn-wrapper {
    margin-bottom: 25px;

    button {
        @include button(35px, 20px, #fff, $btnlink_color);
        transition: .5s;

        &:hover {
            background: #233569;
        }
    }

    span {
        padding: 0 12px;
        color: #bdb5af;
    }
}