@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button($heightbtn, $paddingbtn, $colorbtn, $backgroundbtn) {
    height: $heightbtn;
    padding: 0 $paddingbtn;
    border-radius: 7px;
    background: $backgroundbtn;
    color: $colorbtn;
    border: 1px solid $btnlink_color;
    font-weight: 600;
    cursor: pointer;
}