$dark_background : #ffe7d2;
$title_fontsize : 50px;
$p_fontsize : 20px;
$base_fontsize : 15px;
$base_color : #58402c;
$btnlink_color : #30488f;
$margin_list_header : 20px;
$padding_list_header : 15px;
$border_nav : 1px solid #bdb5af;
$base_box_shadow : 0 1px 1px 1px rgba(0,0,0,.08);
