#feedback {
    padding: $base_padding;

    .feedback-wrapper {

        .feedback-pic {
            @include gridlayout(49%);
            padding-right: 10px;

            img {
                width: 768px;
                float: right;
            }
        }

        .feedback-content-wrapper {
            @include gridlayout(49%);
            padding-left: 10px;

            .feedback-content {
                width: 38%;

                h2 {
                    font-size: $subtitle-fontsize;
                }

                p {
                    font-size: $p-fontsize;
                }

                a {
                    font-size: $p-fontsize;
                    text-decoration: none;
                }

                img {
                    width: 270px;
                    display: block;
                    margin: 80px 50px 36px;
                }
            }
        }
    }
}